<div class="text">

    <h1>Hallo!</h1>
    <p><b>I am Hamza Khuswan &amp; I love coding.</b></p>
    
    <p>
        I am an expierened web developer and love to learn about computers. 
        I have couple projects on <a href="https://github.com/hamzakhuswan/">Github</a>, 
        but most of my work is private.
    </p>
    <p>
        I do some freelancing occasionally, a litte bit on <a href="https://www.fiverr.com/hamzakhuswan">Fiverr</a>
        The easiest way to reach me is via <a id="mail-clipboard" href="mailto:hamzakhuswan@outlook.com">email</a>.
    </p>
</div>