<div class="text">

    <h1>I am Hamza &amp; I love coding.</h1>
    <p>I am Hamza Khuswan, an expierened web developer, &amp; <abbr title="Computer Science">CS</abbr> enthusiast.</p>
    <p>I have couple projects on <a href="https://github.com/hamzakhuswan/">Github</a>, but most of my work is private.</p>
    <p>I do some freelancing occasionally, a litte bit on <a href="https://www.fiverr.com/hamzakhuswan">Fiverr</a>.</p>
    <p>The easiest way to reach me is via <a id="mail-clipboard" href="mailto:hamzakhuswan@outlook.com">email</a>.</p>

</div>