.text {
  order: -1;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0;
}

h1 + p {
  color: #555;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  color: #888888;
  margin: 0;
  margin-bottom: 20px;
}

a {
  color: #75B3F0;
  transition: color .6s ease;
  &:hover {
    color: #86C1CC;
  }
}

@media (max-width: 994px) {
  .text {
    padding: 0 14px;
    margin: 20px auto;
  }
}