<div class="text">

    <h1>Hi!</h1>
    <p><b>I am HamzaKhuswan, a self-taught  web developer and couple of more things.</b></p>
    
    <p>
        I am an experienced web developer, I started doing web coding couple of years ago.  But simultaneously I studied computer science and other stuff.
    </p>
    <p>
        I have many hobbies that I do in my spare time. I do occasionally 3d designs, study simple physics or take apart computers.
    </p>
    <p>
        I have couple of opensource projects on <a href="https://github.com/hamzakhuswan/">GitHub</a>, but most of my work is private. I do some freelancing occasionally, a little bit on <a href="https://www.fiverr.com/hamzakhuswan">Fiverr</a>. 
        
        The easiest way to reach me is via this <a id="mail-clipboard" href="mailto:hamzakhuswan@outlook.com">email</a>.
    </p>

</div>