@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}

.gfx {
  position: relative;
  padding: 20px 0;
  width: 30%;
  min-height: 300px;

  svg {
    position: absolute;
    top: 50%;
    left: -33%;

    max-width: 500px;
    margin: 0 auto;
    display: block;
    #laptop {
      animation: floating 6s ease-in-out infinite;
      #code {
        path {
          transition: opacity .6s linear;
          opacity: 0;
        }
      }
    }
  }
  &::before {  
    content: "";  
    background-color: #7BB8E5;
    background: linear-gradient(180deg, #7BB8E5 0%, #86C1CC 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(5px);
  }

}

.visable {
  opacity: 1 !important;
}

@media (max-width: 994px) {
  .circle {
      display: none;
  }
}




@media (max-width: 994px) {
  .gfx {  
    background: linear-gradient(180deg, #7BB8E5 0%, #86C1CC 100%);
    width: 100%;
    height: auto;
    svg {
      position: static;
      max-width: 500px;
      margin: 0 auto;
      display: block;
    }
    &::before {
      display: none;
    }
  }
  
}
